<div>
    <div class="cti">
        <img src="~/Imagens/hui_.jpg" alt="Foto do fundo csharp" />
    </div>
    <h1 class="titulo__intro">
        Olá, seja bem-vindo!!
    </h1>
    <p class="txt__intro">
        Teste de "decomposição de valores monetários" da empresa MediaBrands!<br /><br />
        Utilize o menu de interação acima para navegar pela aplicação, abaixo um breve resumo do que você vai encontrar em cada link de navegação.
    </p>

    <h2 class="home__">
        &#9758 Home
    </h2>

    <p class="txt__home">
        Introdução a aplicação.
    </p>

    <h2 class="cv__">
        &#9758 Currículo
    </h2>
    <p class="txt__cv">
        Um breve resumo do que estou estudando e um pouco do meu lado profissional.
    </p>

    <h2 class="teste__">
        &#9758 Teste
    </h2>
    <p class="txt__teste">
        Teste feito de decomposição de valores monetários com programação.
    </p>

    <h2 class="about__">
        &#9758 Sobre mim
    </h2>
    <p class="txt__about">
        Conheça um pouco de mim e um pouco do que gosto de fazer, meu lado mais pessoal.
    </p>
</div>
