<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <div class="cti">
        <img src="~/Imagens/hui_.jpg" alt="Foto do fundo csharp" />
    </div>
    <p class="txt__sobremim__primeiro">
        Me chamo Guilherme, tenho 27 anos, resido em na região do Grande ABC paulista, especificamente na cidade de São Bernardo do Campo.
    </p>
    <p class="txt__sobre">
        Sou uma pessoa, totalmente extrovertida, gosto bastante de novas ideias, gosto de sempre estar buscando algo novo, novos conhecimentos (tanto profissional, quanto pessoal).
    </p>
    <p class="txt__sobre">
        Sou bem caseiro, ocasionalmente saio um pouco, mas tenho preferencia em ficar em casa. Apesar de ser caseiro, gosto de viajar, conhecer novos lugares, principalmente a parte gastronômica. Sou fissurado em animais também, independente do tipo.
    </p>
    <p class="txt__sobre">
        Tenho alguns hobbies, mas o principal é a paixão pelo automobilismo, tudo que tem motor e faz barulho eu gosto, e muito. Tenho um pequeno canal na plataforma do YouTube, onde o foco é ajudar as pessoas, mostrar detalhes dos carros, eventos automobilísticos e afins, criei esse canal do extremo zero, aprendi toda a parte de filmagem, edição etc, caso tenha curiosidade em conhecer, o nome do meu canal é "Abarthizado_".
    </p>
</body>
</html>